/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
ANALISE_CAMPOS_FALTANTES.md
ANALISE_SISTEMA_IMAGENS_PRODUTOS.md
API_DOCUMENTATION.md
DOCUMENTACAO_EXPORTACAO_PRODUTOS.md
etapas_do_projeto.md
Sync_Deep_Public_API.postman_collection.json
Sync_Deep_Webhooks.postman_collection.json
WEBHOOK_ESPECIFICACAO_SISTEMA_LEGADO.md
WEBHOOK_INTEGRATION_GUIDE.md
